bert-for-tf2>=0.14
blis
boto
boto3
botocore
certifi
chardet
Click
cymem
Cython
DAWG-Python
decorator
docopt
docutils
Flask
gensim<4
idna
itsdangerous
Jinja2
jmespath
joblib
MarkupSafe
murmurhash
networkx
nltk
numpy
pymorphy2
Pyphen
requests
s3transfer
scipy
sentence-splitter
six
sklearn
smart-open
spacy
srsly
tensorflow>=2
torch
transformers>=3
tqdm
urllib3
wasabi
Werkzeug
wget
pyLDAvis
unidecode
xlrd
xmltodict